/* src/frontend/ProductDetails.css */

.product-details-container {
    padding: 20px;
    text-align: center;
    background-color: #F5F5F5;
  }
  
  .product-details-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .product-details-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .product-details-container p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .product-details-container h3 {
    font-size: 24px;
    color: #444444;
  }
  
  .product-details-container button {
    padding: 10px 20px;
    background-color: #FFD700;
    color: #444444;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .product-details-container button:hover {
    background-color: #FFB6C1;
  }
  